/*clearing standard formatting*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #f3f3f3;
}
#navegation{
    background: #ffff;
    border-bottom: 1px solid #d8d8d8;
    height:45px;
    
}
#main_area{
    width: 720px;
    margin: 10px  auto 10px auto;
    
}

#post{
    background: #ffff;
    padding: 10px;
    margin-bottom: 10px;
}

#area{
    width: 720px;
    margin: 0  auto;
    
}

#logo{
    float: left;
}

#menu{
float: right;
padding: 10px;


}

h2{
    color: #1e90ff;
}
/** Class **/
.blogtec{
    color: #1e90ff;

}
.date_post{
    font-size:14px;
    border-bottom: 1px solid #f4f4f4;
    display:block;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.img_post{
    float: left;
    margin: 0 10px 0 10px;

}

.posted_by{
    border-left: 5px solid #1e90ff;
    padding-left:5px;
    display:block;
    margin-top: 10px;
    font-style: oblique;
}

.read_more_button{
    border: none;
    font-size: 17px;
    background: #ffff;
    border-left: 1px solid #1e90ff;
    border-right: 1px solid #1e90ff;
}

/**Menu Formating**/

a{
    text-decoration: none;
    padding: 5px;
}

/*link don't visited*/
a:link{
    color: #1e90ff;

}
/*link visited*/
a:visited{
    color: #2f4f4f;
}

/*link Hover*/

a:hover{
    color: #ffff;
    background: #1e90ff;
}